<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.swimpyo.backend.mappers.accm.admin.IAdminAccmDaoMapper">

    <!-- 숙박시설 등록 -->
    <insert id="insertAccmInfo" parameterType="com.btc.swimpyo.backend.dto.accm.admin.AdminAccmDto">
        INSERT INTO tbl_admin_accommodation(a_acc_name, a_acc_intro, a_acc_kind, a_acc_bn, a_acc_address, a_acc_phone, a_acc_reg_date, a_acc_mod_date, a_m_no)
        SELECT
            #{a_acc_name},
            #{a_acc_intro},
            #{a_acc_kind},
            #{a_acc_bn},
            #{a_acc_address},
            #{a_acc_phone},
            NOW(),
            NOW(),
            a_m_no
        FROM tbl_admin_member
        WHERE a_m_email = #{a_m_email}
    </insert>

    <!-- a_acc_no를 가져오기 위함 -->
    <select id="selectAccmForAmNo" parameterType="Integer" resultType="Integer">
        SELECT
            a_acc_no
        FROM
            tbl_admin_accommodation
        WHERE
            a_m_no = #{a_m_no}
    </select>

    <!-- 숙박시설 Image 등록 -->
    <insert id="insertAccmImage" parameterType="com.btc.swimpyo.backend.dto.accm.admin.AdminAccmImageDto">
        INSERT INTO tbl_accommodation_image (a_acc_no, a_i_image, a_i_reg_date, a_i_mod_date)
        VALUES (#{a_acc_no}, #{a_i_image}, NOW(), NOW())
    </insert>

    <!-- 상세페이지 조회 -->
    <select id="selectAccmInfo" parameterType="Integer" resultType="com.btc.swimpyo.backend.dto.accm.admin.AdminAccmDto">
        SELECT
            aa.a_m_no, aa.a_acc_no, aa.a_acc_name, am.a_m_name, aa.a_acc_intro, aa.a_acc_kind, aa.a_acc_bn, aa.a_acc_address, aa.a_acc_phone, am.a_m_email, aa.a_acc_reg_date
        FROM
            tbl_admin_accommodation aa
            JOIN
                tbl_admin_member am
            ON
                aa.a_m_no = am.a_m_no
        WHERE
            aa.a_m_no = #{a_m_no}
        AND
            aa.use_yn = 'Y'
    </select>

    <select id="selectAccmImgNo" parameterType="Integer" resultType="Integer">
        SELECT
            a_i_no
        FROM
            tbl_accommodation_image
        where
            a_acc_no = #{a_acc_no}
    </select>

    <select id="selectAccmImg" parameterType="Integer" resultType="String">
        SELECT
            a_i_image
        FROM
            tbl_accommodation_image
        WHERE
            a_acc_no = #{a_acc_no}
    </select>

    <!-- 수정 - 이미지를 제외한 숙박시설 정보 update -->
    <update id="updateAccmInfo" parameterType="com.btc.swimpyo.backend.dto.accm.admin.AdminAccmDto">
        UPDATE
            tbl_admin_accommodation aa
        SET
            aa.a_acc_name = #{a_acc_name},
            aa.a_acc_intro = #{a_acc_intro},
            aa.a_acc_kind = #{a_acc_kind},
            aa.a_acc_address = #{a_acc_address},
            aa.a_acc_phone = #{a_acc_phone},
            aa.a_acc_mod_date = NOW()
        WHERE
            aa.a_m_no = #{a_m_no}
    </update>

    <!-- deleteNo를 통해 기존 이미지 삭제 -->
    <delete id="deleteAccmdelImgs" parameterType="Integer">
        DELETE FROM
            tbl_accommodation_image
        WHERE
            a_i_no = #{deleteNo}
    </delete>

    <!-- front에서 넘어온 삭제할 a_i_no 리스트들에 대한 image 값들을 들고 오기 위함 -->
    <select id="selectAccmImgs" parameterType="Integer" resultType="String">
        SELECT
            a_i_image
        FROM
            tbl_accommodation_image
        WHERE
            a_i_no = #{deleteNo}
    </select>

    <!-- 삭제 - 숙박시설 정보(이미지x)-->
    <update id="deleteAccmInfo" parameterType="Integer">
        UPDATE
            tbl_admin_accommodation
        SET
            use_yn = 'N'
        Where
            a_m_no = #{a_m_no}
    </update>

    <!-- 삭제 - 이미지 삭제 -->
    <delete id="deleteAccmImg" parameterType="Integer">
        DELETE FROM
            tbl_accommodation_image
        WHERE
            a_acc_no = #{a_acc_no}
    </delete>


</mapper>
