<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.swimpyo.backend.mappers.room.admin.IAdminRoomDaoMapper">

    <!-- Room(이미지x)등록 -->
    <insert id="insertRoomInfo" parameterType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomDto">
        INSERT INTO
        tbl_admin_room(a_acc_no, a_r_name, a_r_state, a_r_price, a_r_check_in, a_r_check_out, a_r_content, a_r_reg_date, a_r_mod_date, a_m_no)
        SELECT
        #{a_acc_no},
        #{a_r_name},
        #{a_r_state},
        #{a_r_price},
        #{a_r_check_in},
        #{a_r_check_out},
        #{a_r_content},
        NOW(),
        NOW(),
        a_m_no
        FROM
        tbl_admin_accommodation
        WHERE
        a_acc_no = #{a_acc_no}
    </insert>

    <!-- a_acc_no를 가져오기 위함 -->
    <select id="selectRoomForArNo" parameterType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomDto" resultType="Integer">
        SELECT
        max(a_r_no)
        FROM
        tbl_admin_room
        WHERE
        a_m_no = #{a_m_no}
        and
        a_acc_no = #{a_acc_no}
    </select>

    <!-- Room 이미지 등록 -->
    <insert id="insertRoomImage" parameterType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomImageDto">
        insert into tbl_room_image(r_i_image, r_i_reg_date, a_r_no)
        select
            #{r_i_image}, NOW(), a_r_no
        from
            tbl_admin_room
        where
            a_r_no = #{a_r_no}
    </insert>

    <!-- 상세페이지 조회 - Room 정보(이미지 제외) -->
    <select id="selectRoomInfo" parameterType="Integer" resultType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomDto">
        select
        a_acc_no, a_m_no, a_r_name, a_r_state, a_r_price, a_r_check_in, a_r_check_out, a_r_content, a_r_reg_date, a_r_mod_date
        from
        tbl_admin_room
        where
        a_r_no = #{a_r_no}
        and
        use_yn = 'Y'
    </select>

    <!-- 상세 페이지 조회 - Room 번호 가지고 오기 -->
    <select id="selectRoomImgNo" parameterType="Integer" resultType="Integer">
        SELECT
        r_i_no
        FROM
        tbl_room_image
        where
        a_r_no = #{a_r_no}
    </select>

    <!-- 상세페이지 조회 - Room 이미지 -->
    <select id="selectRoomImg" parameterType="Integer" resultType="String">
        select
        r_i_image
        from
        tbl_room_image
        where
        a_r_no = #{a_r_no}
    </select>

    <!-- 수정 - 이미지를 제외한 숙박시설 정보 update -->
    <update id="updateRoomInfo" parameterType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomDto">
        UPDATE
            tbl_admin_room
        SET
            a_r_name = #{a_r_name},
            a_r_state = #{a_r_state},
            a_r_price = #{a_r_price},
            a_r_check_in = #{a_r_check_in},
            a_r_check_out = #{a_r_check_out},
            a_r_content = #{a_r_content},
            a_r_mod_date = NOW()
        WHERE
            a_r_no = #{a_r_no}
    </update>

    <!-- front에서 요청받은 r_i_no 리스트들에 대한 image 값들을 들고 오기 위함 -->
    <select id="selectRoomImgs" parameterType="Integer" resultType="String">
        SELECT
            r_i_image
        FROM
            tbl_room_image
        WHERE
            r_i_no = #{deleteNo}
    </select>

    <!-- deleteNo를 통해 기존 이미지 삭제 -->
    <delete id="deleteRoomImgs" parameterType="Integer">
        DELETE FROM
            tbl_room_image
        WHERE
            r_i_no = #{deleteNo}
    </delete>

    <!-- 삭제 - Room (이미지x) 삭제 -->
    <update id="deleteRoomInfo" parameterType="Integer">
        UPDATE
            tbl_admin_room
        SET
            use_yn = 'N'
        Where
            a_m_no = #{a_m_no}
    </update>

    <!-- 삭제 - Room 이미지 삭제 -->
    <delete id="deleteRoomImg" parameterType="Integer">
        DELETE FROM
            tbl_room_image
        WHERE
            a_r_no = #{a_r_no}
    </delete>

    <!-- Room 리스트 조회 - 이미지를 제외한 룸 정보 -->
    <select id="selectRoomInfoForList" parameterType="Integer" resultType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomDto">
        SELECT
            a_r_no, a_m_no, a_r_name, a_r_state, a_r_price, a_r_check_in, a_r_check_out
        FROM
            tbl_admin_room
        WHERE
            a_acc_no = #{a_acc_no}
    </select>

    <!--    &lt;!&ndash; front에 a_r_no를 보내주기 위함 &ndash;&gt;
        <select id="selectRoomForArNo" parameterType="Integer" resultType="Integer">
            SELECT
            a_r_no
            FROM
            tbl_room
            WHERE
            a_acc_no = #{a_acc_no}
        </select>-->

    <!-- Room 리스트 조회 - 이미지 -->
    <select id="selectRoomImgForList" parameterType="Integer" resultType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomImageDto">
        SELECT
        a_r_no, r_i_no, r_i_image
        FROM
        tbl_room_image
        WHERE
        a_r_no = #{a_r_no}
    </select>

</mapper>