<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.swimpyo.backend.mappers.room.admin.IAdminRoomDaoMapper">

    <insert id="insertRoomInfo" parameterType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomDto">
        INSERT INTO
            tbl_admin_room(a_acc_no, a_r_name, a_r_state, a_r_price, a_r_check_in, a_r_check_out, a_r_count, a_r_content, a_r_reg_date, a_r_mod_date, a_m_no)
        SELECT
            #{a_acc_no},
            #{a_r_name},
            #{a_r_state},
            #{a_r_price},
            #{a_r_check_in},
            #{a_r_check_out},
            #{a_r_count},
            #{a_r_content},
            NOW(),
            NOW(),
            a_m_no
        FROM
            tbl_admin_accommodation
        WHERE
            a_acc_no = #{a_acc_no}
    </insert>

    <!-- a_acc_no를 가져오기 위함 -->
    <select id="selectRoomForArNo" parameterType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomDto" resultType="Integer">
        SELECT
            a_r_no
        FROM
            tbl_admin_room
        WHERE
            a_m_no = #{a_m_no}
        and
            a_acc_no = #{a_acc_no}
    </select>

    <!-- Room 이미지 등록 -->
    <insert id="insertRoomImage" parameterType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomImageDto">
        insert into tbl_room_image (a_r_no, r_i_image, r_i_reg_date)
        values (#{a_r_no}, #{r_i_image}, NOW())
    </insert>

    <!-- 상세페이지 조회 - Room 정보(이미지 제외) -->
    <select id="selectRoomInfo" parameterType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomDto" resultType="com.btc.swimpyo.backend.dto.room.admin.AdminRoomDto">
        select
            a_r_no, a_acc_no, a_m_no, a_r_name, a_r_state, a_r_price, a_r_check_in, a_r_check_out, a_r_count, a_r_content, a_r_reg_date, a_r_mod_date
        from
            tbl_admin_room
        where
            a_m_no = #{a_m_no}
        and
            a_acc_no = #{a_acc_no}
        and
            use_yn = 'Y'
    </select>

    <!-- 상세페이지 조회 - Room 이미지 -->
    <select id="selectRoomImg" parameterType="Integer" resultType="String">
        select
            r_i_no, r_i_image
        from
            tbl_room_image
        where
            a_r_no = #{a_r_no}
    </select>

</mapper>