<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.swimpyo.backend.mappers.member.admin.IAdminMemberDaoMapper">

    <insert id="insertMember" parameterType="com.btc.swimpyo.backend.dto.member.admin.AdminMemberDto">
        INSERT INTO
            tbl_admin_member(a_m_email, a_m_pw, a_m_name, a_m_phone, a_m_oper_yn, a_m_br_yn, a_m_ar_yn, a_m_reg_date, a_m_mod_date)
        VALUES
            (
             #{a_m_email},
             #{a_m_pw},
             #{a_m_name},
             #{a_m_phone},
             #{a_m_oper_yn},
             #{a_m_br_yn},
             #{a_m_ar_yn},
             NOW(),
             NOW()
            )
    </insert>

    <select id="isMember" parameterType="com.btc.swimpyo.backend.dto.member.admin.AdminMemberDto" resultType="com.btc.swimpyo.backend.dto.member.admin.AdminMemberDto">
        SELECT
            *
        FROM
            tbl_admin_member
        WHERE
            a_m_email = #{a_m_email}
        AND
            use_yn = "Y"
    </select>

    <insert id="insertRefToken" parameterType="com.btc.swimpyo.backend.utils.jwt.entity.RefTokenEntity">
        INSERT INTO
            tokens(ref_token, t_reg_date)
        VALUES
            (
                #{ref_token},
                NOW()
            )
    </insert>

    <select id="selectRefToken" parameterType="com.btc.swimpyo.backend.utils.jwt.entity.RefTokenEntity" resultType="com.btc.swimpyo.backend.utils.jwt.entity.RefTokenEntity">
        SELECT
            DISTINCT
            ref_token
        FROM
            tokens
        WHERE
            ref_token = #{ref_token}
    </select>

    <delete id="deleteDupRefToken" parameterType="com.btc.swimpyo.backend.utils.jwt.entity.RefTokenEntity">
        DELETE FROM
            tokens
        WHERE
            ref_token = #{ref_token}

    </delete>

    <update id="deleteMember" parameterType="com.btc.swimpyo.backend.dto.member.admin.AdminMemberDto">
        UPDATE
            tbl_admin_member
        SET
            use_yn = "N"
        WHERE
            a_m_email = #{a_m_email}
        AND
            use_yn = "Y"
    </update>


    <update id="updateAdmin" parameterType="com.btc.swimpyo.backend.dto.member.admin.AdminMemberDto" >

        UPDATE
            tbl_admin_member
        SET
            a_m_name = #{a_m_name},
            a_m_phone = #{a_m_phone}
        WHERE
            a_m_email = #{a_m_email}
    </update>

    <update id="updateAdminForPw" parameterType="com.btc.swimpyo.backend.dto.member.admin.AdminMemberDto" >

        UPDATE
            tbl_admin_member
        SET
            a_m_pw = #{a_m_pw}
        WHERE
            a_m_email = #{a_m_email}
    </update>




</mapper>