<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.swimpyo.backend.mappers.accm.user.IUserAccmDaoMapper">

    <!-- 리스트 조회 - 이미지를 제외한 정보 -->
    <select id="selectAccmList" parameterType="com.btc.swimpyo.backend.dto.accm.admin.AdminAccmDto" resultType="com.btc.swimpyo.backend.dto.accm.admin.AdminAccmDto">
    SELECT
        aa.a_acc_no,
        aa.a_acc_name,
        aa.a_acc_kind,
        ar.a_r_state,
        ar.a_r_check_in,
        ar.a_r_price
    FROM
        tbl_admin_accommodation aa
        JOIN
            tbl_admin_room ar
        ON
            aa.a_acc_no = ar.a_acc_no
    </select>

    <!-- a_acc_no 값 -->
    <select id="selectAccmNo" parameterType="com.btc.swimpyo.backend.dto.accm.admin.AdminAccmDto" resultType="Integer">
        SELECT
            a_acc_no
        FROM
            tbl_admin_accommodation
    </select>

    <!-- a_i_no 값 -->
    <select id="selectAccmImgNo" parameterType="Integer" resultType="Integer">
        select
        a_i_no
        from
        tbl_accommodation_image
        where
        a_acc_no = #{a_acc_no}
    </select>

    <!-- 리스트 조회 - 이미지 정보 -->
    <select id="selectAccmImgList" parameterType="Integer" resultType="com.btc.swimpyo.backend.dto.accm.admin.AdminAccmImageDto">
        select
            a_i_no, a_acc_no, a_i_image
        from
            tbl_accommodation_image
        where
            a_acc_no = #{a_acc_no}
    </select>

    <select id="selectAccmDetail" parameterType="Integer" resultType="com.btc.swimpyo.backend.dto.accm.admin.AdminAccmDto">
        SELECT
        aa.a_acc_no,
        aa.a_m_no,
        aa.a_acc_name,
        am.a_m_name,
        aa.a_acc_intro,
        aa.a_acc_kind,
        aa.a_acc_bn,
        aa.a_acc_address,
        aa.a_acc_phone,
        am.a_m_email,
        aa.a_acc_reg_date
        FROM
        tbl_admin_accommodation aa
        JOIN
        tbl_admin_member am
        ON
        aa.a_m_no = am.a_m_no
        WHERE
        aa.a_acc_no = #{a_acc_no}
        AND
        aa.use_yn = 'Y'
    </select>

    <select id="selectReviewArNo" parameterType="Integer" resultType="Integer">
        select
        rr.a_r_no
        from
        tbl_review rr
        join tbl_admin_room ar
        on ar.a_r_no = rr.a_r_no
        where
        a_acc_no = #{a_acc_no}
        and
        r_no is not null

    </select>

    <!-- 상세페이지 - 리뷰 별점 가져오기 -->
    <select id="selectReviewStar" parameterType="Integer" resultType="Double">
        SELECT
            ROUND(AVG(rr.r_sa_point),1)
        FROM
            tbl_review rr
        JOIN tbl_admin_room ar ON ar.a_r_no = rr.a_r_no
        JOIN tbl_admin_accommodation aa ON aa.a_acc_no = ar.a_acc_no
        WHERE
            ar.a_acc_no = #{a_acc_no}
    </select>

    <!-- 상세페이지 보기 -->
<!--    <select id="selectAccmDetail" parameterType="Integer" resultType="com.btc.swimpyo.backend.dto.accm.admin.AdminAccmDto">-->
<!--        SELECT-->
<!--            aa.a_acc_no,-->
<!--            aa.a_m_no,-->
<!--            aa.a_acc_name,-->
<!--            am.a_m_name,-->
<!--            aa.a_acc_intro,-->
<!--            aa.a_acc_kind,-->
<!--            aa.a_acc_bn,-->
<!--            aa.a_acc_address,-->
<!--            aa.a_acc_phone,-->
<!--            am.a_m_email,-->
<!--            aa.a_acc_reg_date,-->
<!--            round(avg(rr.r_sa_point),1)-->
<!--        FROM-->
<!--            tbl_admin_accommodation aa-->
<!--        JOIN-->
<!--            tbl_admin_member am-->
<!--        ON-->
<!--            aa.a_m_no = am.a_m_no-->
<!--        JOIN-->
<!--            tbl_admin_room ar-->
<!--        ON-->
<!--            ar.a_acc_no = aa.a_acc_no-->
<!--        JOIN-->
<!--            tbl_review rr-->
<!--        ON-->
<!--            rr.a_r_no = ar.a_r_no-->
<!--        WHERE-->
<!--            aa.a_acc_no = #{a_acc_no}-->
<!--        AND-->
<!--            aa.use_yn = 'Y'-->
<!--    </select>-->

    <!-- 주소 값(a_acc_no)을 경도, 위도 값으로 db에 저장 -->
    <insert id="insertAccmLoc" parameterType="HashMap">
        UPDATE
            tbl_admin_accommodation
        SET
            a_acc_longitude = #{a_acc_longitude},
            a_acc_latitude = #{a_acc_latitude}
        WHERE
            a_acc_no = #{a_acc_no}
    </insert>

</mapper>