<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.swimpyo.backend.mappers.mypage.user.IUserMypageDaoMapper">

    <select id="selectRezList" parameterType="map" resultType="hashmap">

        select
        DISTINCT (ur.isWrite),
        ai.a_i_image,
        aa.a_acc_no,
        aa.a_acc_name,
        ar.a_r_no,
        ar.a_r_name,
        ar.a_r_content,
        ar.a_r_state,
        ar.a_r_check_in,
        ar.a_r_check_out,
        ur.u_r_no,
        ur.u_m_email,
        ur.use_yn,
        ur.pay_yn,
        ur.u_r_check_in,
        ur.u_r_check_out,
        ur.u_r_car_yn,
        ur.u_r_check_in_time,
        ur.u_r_check_out_time
        from
            tbl_user_reservation ur
            LEFT JOIN tbl_admin_room ar ON ur.a_r_no = ar.a_r_no
            LEFT JOIN tbl_admin_accommodation aa ON ar.a_acc_no = aa.a_acc_no
            LEFT JOIN tbl_accommodation_image ai ON aa.a_acc_no = ai.a_acc_no
        where 1=1
            AND ur.u_m_email = #{userEmail}
            AND ur.use_yn = "Y"
            AND ur.pay_yn = "Y"
            <if test="u_r_no != 0">
                AND ur.u_r_no = #{u_r_no}
            </if>
            <if test="period != 0">
                AND ur.u_r_reg_date >= DATE_SUB(NOW(), INTERVAL #{period} MONTH)
            </if>
        ORDER BY ur.u_r_reg_date DESC


    </select>

    <select id="selectRezAddressForList" parameterType="Integer" resultType="String" >

        SELECT
            r_no,
            r_xy_address,
            r_xy_comment
        FROM
            tbl_review_xy
        WHERE
            r_no = #{r_no}



    </select>

    <select id="selectRezDetail" parameterType="map" resultType="map">
        SELECT
            DISTINCT (ur.isWrite),
            ai.a_i_image,
            aa.a_acc_no,
            aa.a_acc_name,
            ar.a_r_no,
            ar.a_r_name,
            ar.a_r_content,
            ar.a_r_check_in,
            ar.a_r_check_out,
            ar.a_r_price,
            ar.a_r_state,
            ur.u_r_no,
            ur.u_r_check_in,
            ur.u_r_check_out,
            ur.u_r_car_yn,
            ur.u_r_check_in_time,
            ur.u_r_check_out_time,
            ur.u_r_reg_date,
            um.u_m_email,
            um.u_m_name,
            um.u_m_phone
        FROM
            tbl_user_reservation ur
            LEFT JOIN tbl_user_member um ON ur.u_m_email = um.u_m_email
            LEFT JOIN tbl_admin_room ar ON ur.a_r_no = ar.a_r_no
            LEFT JOIN tbl_admin_accommodation aa ON ar.a_acc_no = aa.a_acc_no
            LEFT JOIN tbl_accommodation_image ai ON aa.a_acc_no = ai.a_acc_no
        where 1=1
          AND ur.u_m_email = #{userEmail}
          AND ur.use_yn = "Y"
        <if test="u_r_no != 0">
            AND ur.u_r_no = #{u_r_no}
        </if>

    </select>

    <select id="selectReviewInfo" parameterType="String" resultType="hashmap">
        SELECT
            DISTINCT(r.r_no),
            aa.a_acc_no,
            aa.a_acc_name,
            ar.a_r_name,
            um.u_m_email,
            um.u_m_nickname,
            r.isWrite,
            r.r_reg_date,
            r.r_content,
            r.r_sa_point
        FROM
            tbl_review r
            left join tbl_admin_room ar ON r.a_r_no = ar.a_r_no
            left join tbl_admin_accommodation aa ON ar.a_acc_no = aa.a_acc_no
            left join tbl_review_xy rxy ON r.r_no = rxy.r_no
            left join tbl_user_member um ON r.u_m_email = um.u_m_email
        WHERE
            r.u_m_email = #{u_m_email}
          AND r.use_yn = "Y"
        ORDER BY r.r_reg_date DESC

    </select>

    <select id="selectReviewImgNo" parameterType="Integer" resultType="Integer">
        SELECT
            u_ri_no, r_no
        FROM
            tbl_review_image
        WHERE
            r_no = #{r_no}

    </select>

    <select id="selectReviewImgForList" parameterType="map" resultType="map">
        SELECT
            DISTINCT(u_ri_no),
            r_ri_image,
            r_no
        FROM
            tbl_review_image
        WHERE
            r_no = #{r_no}
    </select>


</mapper>