<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.swimpyo.backend.mappers.mypage.user.IUserMypageDaoMapper">

    <select id="selectRezList" parameterType="String" resultType="com.btc.swimpyo.backend.dto.reservation.ReservationDto">

        select
            *
        from
            tbl_user_reservation
        where
            u_m_email = #{userEmail}


    </select>


</mapper>