<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.swimpyo.backend.mappers.accm.user.ISearchAccmDaoMapper">

    <select id="selectAccms" parameterType="map" resultType="hashmap">
        SELECT
        a.a_acc_name,
        a.a_acc_kind,
        a.a_acc_address,
        r.a_r_state,
        r.a_r_price,
        rm.u_r_check_in,
        rm.u_r_check_out,
        ai.a_i_image
        FROM
        tbl_admin_accommodation a
        LEFT JOIN tbl_admin_room r ON a.a_acc_no = r.a_acc_no
        LEFT JOIN tbl_user_reservation rm ON r.a_r_no = rm.a_r_no
        LEFT JOIN tbl_accommodation_image ai ON a.a_acc_no = ai.a_acc_no
            where 1=1
            <!-- 업소명 검색 조건 -->
            <if test="searchValue != null">
                AND a.a_acc_name like concat('%', #{searchValue} ,'%')
            </if>
            <!-- 예약 가능한 날짜 범위 검색 조건 -->
            <if test="startDay != null and endDay != null and able == 'possible'">
                AND NOT (u_r_check_in <![CDATA[ < ]]> #{endDay}
                             AND u_r_check_out <![CDATA[ > ]]> #{startDay})

              </if>
            <!-- 업소 종류별 검색 조건 -->
            <if test="accmValue != null">
                AND a.a_acc_kind = #{accmValue}
            </if>
            <!-- 지역별 검색 조건 -->
            <if test="region != null">
                AND a.a_acc_address LIKE CONCAT('%', #{region}, '%')
            </if>
            <!-- 대실/숙박 조건 -->
            <if test="dayUseOrStay == '대실'">
                AND r.a_r_state = '대실'
            </if>
            <if test="dayUseOrStay == '숙박'">
                AND r.a_r_state = '숙박'
            </if>
        <!-- 가격 정렬 조건 -->
        <choose>
            <when test="priceOrder != null and priceOrder == 1">
                ORDER BY r.a_r_price DESC
            </when>
            <otherwise>
                ORDER BY r.a_r_price ASC
            </otherwise>
        </choose>
    </select>
</mapper>